* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
html,
body,
main,
aside,
.inbox,
.chat,
.panel {
height: 100%

}
:root {
    --light-gray:rgb(244,245,247);
    --dark-gray: #717173;
    --dark-text: rgb(51,52,55);
    --nav-text: rgb(97, 100, 101);
    --marg-top: 2vw;
    --margin: 20px;
    --text-lightGrey: #CED1D6;
    --radius: 8px;
}
body {
    font-family: 'Roboto',
    sans-serif;
border-radius: var(--radius);
}
li {
    list-style-type: none;
}
lu {
    margin-left: 0;
    margin-right: 0;

}
aside {
    position: absolute;
    left: 0;
    top: 0;
}

.menu /* .aside{  */ {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--light-gray);
    width: 200px;
    height: 100%;
    padding: 0 0 0 20px;
    padding-top: var(--marg-top);

}
.logo {
    display: flex;
    align-items: center;
    margin-bottom:calc(var(--marg-top)*2) ;
}
.logo__img {
    width: 32px;
    height: 30px;
   margin-right: 20px;
}
.logo__text {
    color: var(--dark-text);
   
}
.nav {
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: space-between;
     height: 90%;
    
}
    
.nav__project-title {
    color: var(--text-lightGrey);
    font-size: 1vw;
    margin-bottom: 8px;
}
.nav_img-menu {
    color: #A5A9B2;
    margin: 0 5px 0 9px;
}
.nav__text-item {
    color: var(--nav-text);
    font-size: 14px;
   
}
.nav__item {
    margin-bottom: var(--marg-top);
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
  
}
.nav__img-active,
.nav__text-active{
    color: blue;
}
.nav__item:hover,
.nav__item-active {
    border-right: 5px solid orange;
    background-color: white;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.nav__img{
    width: 15px;
    height: 15px;
    border: 2px solid rgb(218, 115, 88);
    border-radius: var(--radius);
}
.nav__img--blue{
    border: 2px solid rgb(152, 200, 255);
}
.nav__img--violet {
    border: 2px solid rgb(89, 63, 263);
}
.nav__img--green{
    border: 2px solid rgb(145, 192, 169);
}
.nav__project-list {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: calc(var(--marg-top)/2);
}
.button__project {
    width: 20px;
    height: 20px;
    background-color: rgb(232, 232, 238);
    border: none;
    border-radius: var(--radius);
    color: rgb(168, 174, 185);
    font-size: 9px;
}
.nav__list {
    width: 100%;
}
.project__list-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__project-item {
    color: var(--nav-text);
    margin-left: 1vw;
}
.button-nav-project {
   background-color: var(--light-gray); 
   border: 1px solid var(--text-lightGrey);
   width:150px ;
   height: 30px;
   border-radius: var(--radius);
   color: var(--dark-text);
   font-size: 9px;
   margin-bottom: 30px;
}
.nav__project-wrap{
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
}
.inbox {
    border-right: 1px solid var(--light-gray);
    padding: 20px 20px 0 20px;
    width: 250px;
    color: var(--dark-text);
    
}
.inbox__button{
    background: transparent;
    border: 2px solid var(--light-gray);
    border-radius: var(--radius);
    width: 35px;
    height: 35px;
    font-size: 20px;
}
.inbox__button {  
    cursor: pointer;
    opacity: 0.6;
}
.inbox__title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin);
}
.inbox__switcher {
    display: flex;
    background: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: var(--radius);
    margin-bottom: var(--margin);
   
}
.inbox__switcher-button {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: var(--radius);
    background: transparent;
    color: var(--dark-gray);
}

.inbox__switcher-button--active {
    background: white;
    color: var(--dark-text);
}
main {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    display: flex;
}
.chat {
    border-right: 1px solid var(--text-lightGrey);
    width: calc(100% - 250px - 50px);
    margin-top: 4px;
    /* нужно откорректировать марджин лево и право, низ */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.chat,
.chat-bottom {
    background: linear-gradient(90deg, transparent, #edf2f2);
}
.panel {
    width: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.panel__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}
.chat__item {
    display: flex;
    height: 80px;
    background:var(--light-gray);
    /* надо поправить, чтобы отступ был у всех кроме последнего */
    justify-content: space-around;
    align-items: center;
    border-radius: var(--radius);
}
.chat__item:not(:last-child) {
    margin-bottom: 1rem;
}
.chat__item--notActive{
    background: none;
    border-bottom: 1px solid var(--light-gray);
    border-radius: none;
}
.chat__person {
    position: relative;
    width: 50px;
    height: 50px;
    
}
.person__avatar{
    width: 50px;
    height: 50px;
    border-radius: 13px;
    background-color: #E3E7E4;
    
}
.person_img--little{
    height: 30px;
    width: 30px;
}
.chat__person--little{
width: 30px;
height: 30px;
}
.marker_avatar--green{
    width: 10px;
    height: 10px;
    background-color: #57CC5D;
    border:  2px solid white;
    border-radius: 100%;
    position: absolute;
    bottom: 2px;
    right: 0;
}
.chat__img--none{
    width: 30px;
    height: 20px  
}
 .container,
 .messages {
     height: calc(100% - 110px);
     overflow-y: scroll; /* добавляет скрол ан странице в этом блоке */ 
     /* надо поправить, чтобы сделать через  calc 100-высота class inbox */

 }
 
.chat__text-wrap {
     width:100px;
     height: 50px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
     
 }
 .chat__text{
font-size: 11px;
 }
 .chat__text--bold{
     color: var(--dark-text);
 }
 .chat__text--lightgray{
     color: #c7c9cc;
 }
 .chat__text--darkgray{
     color: #949496;
 }

 .chat__img--blue {
     display: flex;
     width: 20px;
     height: 20px;
     background-color: #4A6BD9;
     font-size: 10px;
     justify-content: center;
     align-items: center;
     color: white;
     border-radius: 100%;
 }
 .chat-top {
     height: 60px;
     background: #FFF;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .chat__top-wrap{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .chat__text-size{
     height: 30px;
     margin-left: 7px;
 }
 .chat-bottom {
     height: 60px;
 }
 .search__form{
    height: 25px;
    border: 1px solid var(--light-gray);
    border-radius: 9px;
    outline: none;
    padding-left: 15px;
    background: transparent;

 }
 .search__wrap{
     position: relative;
 }
 .icon__search{
    position: absolute;
    cursor: pointer;
    top:6px;
    right: 8px;
    color: #a7a8ab;

 }
 /* спрятали серч */
 .search__form::placeholder {
    color: #d2d3d3;
 }
 
 
 .message {
     height: 20px;
     
     margin-bottom: 1rem;
 }
 .button__footer {
     width: 25px;
     height: 25px;
     background-color: transparent;
     border: 1px solid var(--light-gray);
     border-radius: var(--radius);
     color: #a7a8ab;
     margin-top: 20px;
     font-size: 16px;
 }
 .button__chat-top {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius);
    color: #a7a8ab;
    font-size: 16px;
    margin: 0px 5px;
 }